<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<Properties>
		<!--<Property name="fileLocation">${sys:fileLocation}</Property>-->
		<!--<Property name="fileName">${fileName}</Property>-->
		<!--<Property name="fileLocation">E:\logs\demo</Property>-->
		<Property name="fileName">catalina</Property>
	</Properties>
	<Appenders>
		<RollingFile
			name="FILE"
			fileName="${sys:fileLocation}/${fileName}.out"
			filePattern="${sys:fileLocation}/${fileName}-%d{MMM-dd-yyyy-HH}.out.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss} - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
		
		<!--Console Appender--> 
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p | (%F:%L) - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="edu" level="INFO" />
		<Root level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="FILE" />
		</Root>
	</Loggers>
</Configuration>
